// Essential javascripts for application to work
script(src='/assets/javascripts/jquery-3.3.1.min.js')
script(src='/assets/javascripts/popper.min.js')
script(src='/assets/javascripts/bootstrap.min.js')
script(src='/assets/javascripts/main.js')

// The javascript plugin to display page loading on top
script(src='/assets/javascripts/plugins/pace.min.js')
